*.swp
*.swo
target
.classpath
.project
.settings
.svn
output
.idea
*.iml
*.pyc
*MANIFEST
*artifacts
.DS_Store
# Exclude deployment tar.gz files
env/**/*.tar.gz
# Exclude data directories when nodes are running (LOCK files)
env/**/data/
