*.swp
*.swo
target
.classpath
.project
.settings
.svn
output
.idea
*.iml
*.pyc
*MANIFEST
*artifacts
.DS_Store
# Exclude env runtime data but keep logs and config
env/**/data/
env/**/*.tar.gz
env/**/lib/
